<launch>

    <!-- set environment variable -->
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find simulator)/model"/>
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find simulator)/amov_models"/>

    <!-- load the world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find simulator)/world/test.world"/>
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="false"/>
    </include>

    <!-- launch uav -->
    <group ns="uav">
        <!-- MAVROS and vehicle configs -->
        <arg name="ID" value="0"/>
        <arg name="fcu_url" default="udp://:14540@localhost:14580"/>

        <!-- PX4 SITL and vehicle spawn -->
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="0"/>
        <arg name="R" default="0"/>
        <arg name="P" default="0"/>
        <arg name="Y" default="0"/>
        <!-- vehcile model and config -->
        <arg name="est" default="ekf2"/>
        <arg name="vehicle" default="iris"/>
        <env name="PX4_SIM_MODEL" value="gazebo-classic_$(arg vehicle)" />
        <arg name="mavlink_udp_port" default="14560"/>
        <arg name="mavlink_tcp_port" default="4560"/>

        <!-- generate sdf vehicle model -->
        <arg name="sdf" value="$(find simulator)/amov_models/p450_D435i/p450_D435i.sdf"/>
        <arg name="cmd" default="xmlstarlet ed 
        -d '//plugin[@name=&quot;mavlink_interface&quot;]/mavlink_tcp_port' 
        -s '//plugin[@name=&quot;mavlink_interface&quot;]' 
        -t elem -n mavlink_tcp_port -v $(arg mavlink_tcp_port) 
        $(arg sdf)"/>
        <param command="$(arg cmd)" name="model_description"/>

        <!-- PX4 configs: control via terminal -->
        <arg name="interactive" default="false"/>
        <!-- PX4 SITL -->
        <arg unless="$(arg interactive)" name="px4_command_arg1" value="-d"/>
        <arg     if="$(arg interactive)" name="px4_command_arg1" value=""/>
        <node name="sitl_$(arg ID)" pkg="px4" type="px4" output="screen"
        args="$(find px4)/build/px4_sitl_default/etc
        -s etc/init.d-posix/rcS -i $(arg ID) -w sitl_$(arg vehicle)_$(arg ID)
        $(arg px4_command_arg1)">
        </node>
        <!-- spawn vehicle -->
        <node name="$(arg vehicle)_$(arg ID)_spawn" output="screen" pkg="gazebo_ros" type="spawn_model"
        args="-sdf -param model_description -model $(arg vehicle)_$(arg ID)
        -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg R) -P $(arg P) -Y $(arg Y)"/>

        <!-- MAVROS -->
        <include file="$(find mavros)/launch/px4.launch">
            <arg name="fcu_url" value="$(arg fcu_url)"/>
            <arg name="gcs_url" value=""/>
            <arg name="tgt_system" value="$(eval 1 + arg('ID'))"/>
            <arg name="tgt_component" value="1"/>
        </include>
    </group>

</launch>
