<launch>

    <!-- set environment variable -->
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find simulator)/model"/>
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find simulator)/amov_models"/>

    <include file="$(find simulator)/launch/load_single_uav_mapping.launch">
        <arg name="ID" value="2"/>
        <arg name="init_pose" value="-x 0 -y 2 -z 0 -R 0 -P 0 -Y 0"/>
        <arg name="interactive" value="false"/>
    </include>

    <include file="$(find simulator)/launch/load_single_uav_mapping.launch">
        <arg name="ID" value="3"/>
        <arg name="init_pose" value="-x 0 -y 3 -z 0 -R 0 -P 0 -Y 0"/>
        <arg name="interactive" value="false"/>
    </include>

</launch>
